<!doctype html>

<html> 
<head>
  <title>Movierecom</title>
 <link rel="stylesheet" type="text/css" href="style.css">
   
 </head>
<body>
<header>
	<div class="header1">
	 	<div class="big-header">
	    	<div class="base-container ">
	          	<div class="foo">
					<span class="letter" data-letter="M">M</span>
					<span class="letter" data-letter="O">O</span>
					<span class="letter" data-letter="V">V</span>
					<span class="letter" data-letter="I">I</span>
					<span class="letter" data-letter="E">E</span>
					<span class="letter" data-letter="S">S</span>
					<span class="letter" data-letter="R">R</span>
					<span class="letter" data-letter="E">E</span>
					<span class="letter" data-letter="C">C</span>
					<span class="letter" data-letter="O">O</span>
					<span class="letter" data-letter="M">M</span>				  
				</div>
					<h2 class="head2"><strong>Non-commercial, personalized movie recommendations.</strong></h2>
					<div class="header-actions">
	        			<a href="/register" class="btn-sign-up" role="button">sign up now</a>
	        			<span style="margin: 0 12px;">or</span>
	        			<a href="login.html" class="sign-in">sign in</a>
	      			</div>
			</div>
	    </div>
	</div>
</header>
<main>
    <div class="main1">
        <div class="container1">
            <div class="section1">
            	<div class="row">
                	<div class="col-md-4">
                    	<h2 class="section-header">RECOMMENDATIONS</h2>
                    		<p>MovieLens helps you find movies you will like. Rate movies to build a custom taste profile, then MovieLens recommends other movies for you to watch. 
     						</p>
                	</div>
            		<div class="col-md-8 ">
                		<img src="main-screen.png"  class="img-responsive marketing-img">    
            		</div>
            	</div>
            </div>
        </div>
    	<div class="container1">
            <div class="section1">
            	<div class="row">
                	<div class="col-md-4">
                    		<h2 class="section-header">RICH DATA</h2>
                        	<p>
                       			Learn more about movies with rich data, images, and trailers.
            					Browse movies by community-applied tags, or apply your own tags.
            					Explore the database with expressive search tools.
            				</p>
               		</div>
            		<div class="col-md-8 ">
                		<img src="data_rich.png"  class="img-responsive marketing-img">    
            		</div>
            	</div>
            </div>
        </div>
        <div class="container1">
            <div class="section1">
            	<div class="row">
                	<div class="col-md-4">
                    	<h2 class="section-header">MORE NINJA</h2>
                        <p>
                      		Find movies that are similar to the ones you like.
            				Tune the matching algorithm so that the results are "less violent", "more realistic", or "more ninja".
                        </p>
                	</div>
            			<div class="col-md-8 ">
                		<img src="ninja.png"  class="img-responsive marketing-img">    
            		</div>
            	</div>
        	</div>
		</div>
	</div>

</main>
<footer>
    <div class="root">
    	<div class="base text-center">
      		<a href="about">About Moviesrecom</a> |
      		<a href="contact">Contact Us</a> |
      		<a href="privacy-policy">Privacy Policy</a> |
      		<a href="terms-of-use">Terms of Use</a>
      		<div class="site-version">
       			<p>
          			All content copyright
          			<a href="http://github.com/manzars">ZEROES GROUP </a> &copy; 2019 &bull; All rights reserved.
        		</p>
      		</div>
    	</div>
    </div>
</footer>
</body> 
</html>